h1 {
    color: #FF8137;
}
h2 {
    color: #FF8137;
}
h3 {
    color: #FF8137;
}
h4 {
    color: #FF8137;
}
h5 {
    color: #FF8137;
}
h6 {
    color: #FF8137;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}
.latex sub {
  vertical-align: -0.1ex;
  margin-left: -0.1667em;
  margin-right: -0.025em;
}

.xetex sub {
  vertical-align: -0.1ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex sub, .latex sup, .xetex sub {
  font-size: 0.9em;
  text-transform:uppercase;

}
.latex sup {
  font-size: 0.85em;
  vertical-align: -0.2em;
  margin-left: -0.26em;
  margin-right: -0.05em;
}

.column-left{
  float: left;
  width: 48%;
  text-align: left;
}

.column-right{
  float: right;
  width: 48%;
  text-align: right;
}

.column-full{
  float: left;
  width: 100%;
  text-align: left;
}

.exercise{
  background-color: #FF8137;
  background-color: rgba(255,129,55,0.3);
  border-style: none none solid none;
  border-color: #FF8137;
  float: left;
  width: 100%;
  text-align: left;
}


.solution{
  background-color: #3cb371;
  float: left;
  width: 100%;
  text-align: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #F0FFFF;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}